.headingSectionContainer{
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 16px;
}

.headingSectionColumn{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    overflow: hidden;
}

.title{
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    align-self: first baseline;
    max-width: 343px;
   
}
.description{
    color: rgb(82, 82, 82);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 671px;
}

.buttonsList{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.headingImageContainer{
    display: none;
}

.sliderMobile{
    display: flex;
    gap: 24px;
}

.backgroundImage{
    display: none;
}


    .tagPointList{
        display: flex;
        gap: 24px;
      }


@media(min-width:786px){
    .headingSectionContainer{
        padding: 24px 60px;
        max-width: 1600px;
    }

    .buttonsList{
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .title{
        color: rgb(34, 34, 34);
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        max-width: 659px;
        /* align-self: flex-start; */
        align-self: center;
    
       
    }

    .headingImageContainer{
        display: block;
        margin: 0px 72px;
        z-index: 2;
    }

    .backgroundImage{
        display: block;
        position: absolute;
    z-index: 1;
    bottom: 280px;
    width: 100%;
    border-radius: 28px;
    overflow: hidden;
    }

    .tagPointList{
        width: 816px;
        color: rgb(82, 82, 82);
        font-size: 13px;
        line-height: 100%;
        display: flex;
        justify-content: space-between;
      }
}