.sliderContainer>* {
    /* display: inline-block; */
    animation: slideAnimation 5s linear infinite;
    /* overflow: hidden; */


  }


  .sliderContainer{
    
  }


  .sliderContainer::before,.sliderContainer::after{
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 2;
  }

  @keyframes slideAnimation {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-50%); /* Adjust the distance to slide */
    }
  }

  @keyframes slideAnimation2 {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-50%); /* Adjust the distance to slide */
    }
  }